{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - block_content: Block content entity instance.
 *
 * @see template_preprocess_block()
 */
#}

{% block content %}
  <div class="block-content">
    <div class="col mb-4">
      <div class="card h-100 row">
        {% if image_uri %}
          {% set image = is_svg ? file_url(image_uri) : file_url(image_uri|image_style('promo')) %}
          {% if is_svg %}
            <img src="{{ image }}" alt="{{ image_alt }}" class="card-img-top w-75 h-100 rounded-circle my-4 px-4 " role="presentation">
          {% else %}
            <img src="{{ image }}" alt="{{ image_alt }}" class="card-img-top w-100 mb-4 mx-auto" role="presentation">
          {% endif %}
        {% endif %}
        <div class="card-body">
          <h4 class="card-heading">
            {{ title }}
          </h4>
          <div class="card-text mb-4">
            {{ body|raw }}
          </div>
          {% if url is not empty %}
            <div class="button--wrapper">
              <a href="{{ url }}"
                 class="btn btn-primary filled">{{ url_title }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
