{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - block_content: Block content entity instance.
 *
 * @see template_preprocess_block()
 */
#}

{% set classes = [
  'block',
  'block--spacing',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-promo-card'
] %}

{{ attach_library('lb_promo/lb_promo') }}
<div{{ attributes.addClass(classes).setAttribute('id', plugin_id|clean_class ~ configuration['block_revision_id']) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {% include '@lb_promo/block--lb-promo--content.html.twig' with {
      'title': block_content.field_title.value,
      'image': block_content.field_image.entity.field_media_image.entity.uri.value,
      'image_alt': block_content.field_image.entity.field_media_image.entity.alt,
      'body': content.body,
      'url': block_content.field_cta.0.url,
      'url_title': content.field_cta.0['#title'],
    } %}
  {% endblock %}
</div>
